<div id="settings-grid" class="settings-grid">
  <label class="settings-label">Vertical offset</label>
  <input type="number" id="offset" value="0" class="settings-input" />

  <label class="settings-label">Origin above token</label>
  <label class="switch">
    <input
      type="checkbox"
      id="bar-at-top"
      value="0"
      class="settings-checkbox"
    />
    <span class="slider round dark" id="slider span"></span>
  </label>

  <label class="settings-label">Show monster health bars to players</label>
  <label class="switch">
    <input type="checkbox" id="show-bars" value="0" class="settings-checkbox" />
    <span class="slider round dark" id="slider span"></span>
  </label>

  <label class="settings-label indented">Monster health bar segments</label>
  <input type="number" id="segments" value="0" class="settings-input" />

  <!-- clarify this setting in documentation  -->
  <!-- <label class="settings-label">Show negative and zero Armor Class values</label>
  <label class="switch">
    <input type="checkbox" id="always-show-ac" value="0" class="settings-checkbox">
    <span class="slider round dark" id="slider span"></span>
  </label> -->

  <label class="settings-label">Name tags</label>
  <label class="switch">
    <input type="checkbox" id="name-tags" value="0" class="settings-checkbox" />
    <span class="slider round dark" id="slider span"></span>
  </label>
</div>
