body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  /* font-family: Console, monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

/* text */

.label {
  color: white;
  font-weight: 700;
  font-size: 14px;
  justify-self:center;
  align-self: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /* text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  */
}

/* containers */

.mother-flex {
  display: flex;
  flex-direction: column;

}

.stat-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 22px auto;
  margin: 4px 8px 0 8px;
  padding: 4px 4px 8px 4px;

  border-radius: 8px;
}

.stat-grid.dark {
  background-color: rgba(255, 255, 255, 0.07);
}

.stat-grid.light {
  background-color: rgba(0, 0, 0, 0.07);
}

.grid-item {
  justify-self:center;
  align-self: baseline;
  margin: 0 0 0 0;
}

.hide-switch-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 8px 8px 0 8px;
  padding: 8px 4px;

  border-radius: 8px;
}

.hide-switch-row.dark {
  background-color: rgba(255, 255, 255, 0.06);
}

.hide-switch-row.light {
  background-color: rgba(0, 0, 0, 0.07);
}

.health-flex {
  justify-self:stretch;
  align-self: baseline;
  grid-column: 1;
  grid-row: 2;
  margin: 0 8px;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/* stat background */

.health-background {
  width: 104;
  border-radius: 12px;
  background-color: rgba(255, 0, 0, 0.4);

  outline-style:none;
  outline-color: rgba(255, 0, 0, 0.4) !important;
}

.temp-background {
  background-color: rgba(106, 142, 35, 0.4);
  border-radius: 50%;

  outline-style:solid;
  outline-color: rgba(106, 142, 35, 0.4) !important;
}

.ac-background {
  background-color: rgba(100, 148, 237, 0.4);
  border-radius: 50%;

  outline-style:solid;
  outline-color: rgba(100, 148, 237, 0.4) !important;
}

.stat-background.dark {
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgba(255, 255, 255, 0.6) !important;
  outline-offset: -2px;
}

.stat-background.light {
  outline-style: none;
  outline-width: 2px;
  outline-color: rgba(0, 0, 0, 0);
  outline-offset: -2px;
}

.stat-background.dark:focus-within {
  outline-style:solid;
  outline-width: 2px;
  outline-offset: 0px;
}

.stat-background.light:focus-within {
  outline-style:solid;
  outline-width: 4px;
  outline-offset: 0px;
}

/* Number bubble dark */

.number-bubble.dark {
  width: 44px;
  height: 43px;
  padding: 1px 0 0 0;
  margin: 0;

  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0);

  text-align: center;
  /* transition: .2s; */

  border-radius: inherit;
  border-width: 0px;

  outline-style: none;
  outline-width: 2px;
  outline-color: rgba(255, 255, 255, 0.3);
  outline-offset: -2px;

  font-size: medium;
  font-family: Lucida Console, monospace;
}

.number-bubble.dark:focus {
  /* box-shadow: 0 0 2px #ffffff; */
  background-color: rgba(0, 0, 0, 0.2)  !important;
}

.number-bubble.dark:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.number-bubble.dark::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Number bubble light */

.number-bubble.light {
  width: 44px;
  height: 43px;
  padding: 1px 0 0 0;
  margin: 0;

  color: rgba(0, 0, 0, 87);
  background-color: rgba(0, 0, 0, 0);

  text-align: center;
  /* transition: .2s; */

  border-radius: inherit;
  border-width: 0px;

  outline-style: none;
  outline-width: 2px;
  outline-color: rgba(255, 255, 255, 0.3);
  outline-offset: -2px;

  font-size: medium;
  font-family: Lucida Console, monospace;
}

.number-bubble.light:focus {
  /* box-shadow: 0 0 2px #ffffff; */
  background-color: rgba(255, 255, 255, 0.2)  !important;
}

.number-bubble.light:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.number-bubble.light::selection {
  color: rgb(0, 0, 0);  
  background-color: rgba(255, 255, 255, 0.8 );
}

/* .number-bubble.light:focus {
  box-shadow: 0 0 5px #ad84ff, 0 0 5px #ad84ff, 0 0 5px #ad84ff, 0 0 5px #ad84ff;
  outline: none;
} */

/* Switch */

.color {
  width: 24px;
  height: 24px;
  /* Create a circle with a clip path to allow transition from full to hollow */
  clip-path: path(
    "M 12 0 A 12 12 0 0 1 12 24 A 12 12 0 0 1 12 0 M 12 12 A 0 0 0 0 0 12 12 A 0 0 0 0 0 12 12"
  );
  transition: all 100ms ease 0s;
}

/* Hollow out the circle when selected */
.selected .color {
  clip-path: path(
    "M 12 0 A 12 12 1 1 1 12 24 A 12 12 1 1 1 12 0 M 12 3 A 9 9 0 0 0 12 21 A 9 9 0 0 0 12 3"
  );
}

.color-button:hover .color {
  transform: scale(1.2);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  justify-self: center;
  align-self: center;
  width: 45px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* transform: translate(5%, -5%); */
  background-color: rgba(0, 0, 0, 0.4);
  transition: .15s;
  /* border: 1px solid rgba(189, 189, 189, 0.4); */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(224, 224, 224, 0.5);
  transition: .15s;
}

input:checked + .slider {
  background-color: rgb(116, 100, 159); /*better colour but transparency looks bad in light mode rgb(187, 153, 255, 0.5)*/
  /* border: 1px solid rgb(117, 119, 128, 0); */
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
  background-color: 	rgb(204, 179, 255);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}