body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.action-heading {
  display: grid;
  grid-template-columns: minmax(74px, auto) repeat(3, 42px);
  margin: 16px 16px;
  padding: 0;

  align-items: center;

  /* line-height: 32px; */
}

.heading-p {
  letter-spacing: 0em;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0
}
  
.action-hr {
  margin: 12px 16px;
  min-width: 200px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.12);
}

.settings-grid {
  display: grid;
  grid-template-columns: auto 50px;
  /* grid-template-rows: repeat(5, 50px); */
  grid-auto-rows: auto;

  column-gap: 8px;
  row-gap: 20px;
  /* row-gap: 8px; */
  /* border:1px solid white; */
  min-width: 200px;
  margin: 0 16px 0px 16px;
}

.settings-label {
  justify-self: stretch;
  align-self: center;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.indented {
  padding: 0 0 0 16px;
}

.settings-checkbox {
  justify-self: end;
  align-self: center;
  width: 50px;
  height: 25px;
}

.settings-input {
  justify-self: center;
  align-self: center;
  width: 50px;
  height: 30px;
  border-radius: 8px;
  border-width: 0px;
  border-style: solid;
  /* border-color: white; */
  background-color: rgba(0, 0, 0, 0.144);
  text-align: center;
  color: white;
  font-size: medium;
  transition: .2s;
}

.settings-input:focus {
  background-color: rgba(0, 0, 0, 0.4);
  /* border-width: 1px; */
  outline: none;
}
  
.action-row {
  display: flexbox;
  justify-content: space-around;
  flex-direction: row;
  margin: 16px 14px 0px 14px;
  margin-trim: 8;
  /* margin: 0 0 0 0; */
}

.action-container {
  justify-self: end;
}

.action-button {
  border-radius: 8px;
  border-width: 0px;
  /* outline: solid 1px rgba(255, 255, 255, 0.1); */

  background-color: rgba(0, 0, 0, 0.144);
  text-align: center;
  color: white;
  font-size: medium;
  padding: 8px 8px 8px 8px;
}

.action-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* border-width: 1px; */
  outline: none;
  transition: .05s;
}

.action-button:active {
  background-color: rgba(0, 0, 0, 0.4);
  /* border-width: 1px; */
  outline: none;
  transform: translateY(2px);
}

.patreon-button {
  padding: 6px 6px;
  width: 22px;
  height: 22px;
  justify-self: end;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.patreon-logo {
  fill: white;
  height: 8px;
}

.change-log-button {
  padding: 5px 5px;
  width: 24px;
  height: 24px;
  justify-self: end;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-svg-dark-mode {
  fill: white;
  stroke: white;
}

.button-svg-light-mode {
  fill: rgb(30, 30, 30, 0.87);
  stroke: rgb(30, 30, 30, 0.87);
}

.button-svg {
  display: block;
}

.help-button {
  padding: 6px 6px;
  width: 22px;
  height: 22px;
  justify-self: end;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.action-p {
  margin: 16px;
}

/* Bottom buttons */

.bottom-buttons {
  display: flex;
  flex-direction: row;
  margin: 16px;
  gap: 8px;
}

.bottom-button {
  border-radius: 8px;
  border-width: 0px;
  text-decoration: none;

  /* outline: solid 1px rgba(255, 255, 255, 0.1); */

  background-color: rgba(0, 0, 0, 0.144);
  text-align: center;
  color: white;
  font-size: medium;
  padding: 8px;

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.bottom-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /* border-width: 1px; */
  outline: none;
  transition: .05s;
}

.bottom-button:active {
  background-color: rgba(0, 0, 0, 0.4);
  /* border-width: 1px; */
  outline: none;
  transform: translateY(2px);
}

.button-svg {
  padding-bottom: 1px;
}

/* hide number input arrows */
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.color {
  width: 24px;
  height: 24px;
  /* Create a circle with a clip path to allow transition from full to hollow */
  clip-path: path(
    "M 12 0 A 12 12 0 0 1 12 24 A 12 12 0 0 1 12 0 M 12 12 A 0 0 0 0 0 12 12 A 0 0 0 0 0 12 12"
  );
  transition: all 100ms ease 0s;
}

/* Hollow out the circle when selected */
.selected .color {
  clip-path: path(
    "M 12 0 A 12 12 1 1 1 12 24 A 12 12 1 1 1 12 0 M 12 3 A 9 9 0 0 0 12 21 A 9 9 0 0 0 12 3"
  );
}

.color-button:hover .color {
  transform: scale(1.2);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  justify-self: center;
  align-self: center;
  width: 45px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* transform: translate(5%, -5%); */
  background-color: rgba(0, 0, 0, 0.4);
  transition: .15s;
  /* border: 1px solid rgba(189, 189, 189, 0.4); */
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(224, 224, 224, 0.5);
  transition: .15s;
}

input:checked + .slider {
  background-color: rgb(116, 100, 159); /*better colour but transparency looks bad in light mode rgb(187, 153, 255, 0.5)*/
  /* border: 1px solid rgb(117, 119, 128, 0); */
}

/* input:focus + .slider.dark {
  box-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;
}

input:focus + .slider.light {
  box-shadow: 0 0 10px #ad84ff, 0 0 5px #ad84ff, 0 0 5px #ad84ff, 0 0 5px #ad84ff;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
  background-color: 	rgb(204, 179, 255);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}