body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.action-heading {
    margin: 16px 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0em;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 32px;
}
  
.action-heading-spacing {
    position:absolute;
    top: 15px;
    left: 15px;
    right: 10px;
    white-space: nowrap;
}
  
.action-hr {
    margin: 12px 16px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
}

.settings-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0px;
    row-gap: 8px;
    /* border:1px solid white; */
    margin: 0 16px 0 16px;
}

.settings-label {
    justify-self: stretch;
    align-self: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.settings-checkbox {
    justify-self: end;
    align-self: center;
    width: 50px;
    height: 25px;
}

.settings-input {
    justify-self: end;
    align-self: center;
    width: 50px;
    height: 30px;
    border-radius: 8px;
    border-width: 0px;
    border-style: solid;
    /* border-color: white; */
    background-color: rgba(0, 0, 0, 0.144);
    text-align: center;
    color: white;
    font-size: medium;
    transition: .2s;
}

.settings-input:focus {
    background-color: rgba(0, 0, 0, 0.404);
    /* border-width: 1px; */
    outline: none;
}
  
.action-row {
    display: flexbox;
    justify-content: space-around;
    flex-direction: column;
    margin: 16px 14px 0px 14px;
    margin-trim: 8;
    /* margin: 0 0 0 0; */
}

.action-button {
    border-radius: 8px;
    border-width: 0px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.144);
    text-align: center;
    color: white;
    font-size: medium;
    padding: 8px 8px 8px 8px;
}

.action-button:hover {
    background-color: rgba(0, 0, 0, 0.253);
    /* border-width: 1px; */
    outline: none;
    transition: .05s;
}

.action-button:active {
    background-color: rgba(0, 0, 0, 0.651);
    /* border-width: 1px; */
    outline: none;
    transform: translateY(2px);
}

/* hide number input arrows */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}