@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.outline-image {
  -webkit-filter: drop-shadow(1px 1px 0 #9966ff) drop-shadow(-1px 1px 0 #9966ff)
    drop-shadow(1px -1px 0 #9966ff) drop-shadow(-1px -1px 0 #9966ff);

  filter: drop-shadow(1px 1px 0 #9966ff) drop-shadow(-1px 1px 0 #9966ff)
    drop-shadow(1px -1px 0 #9966ff) drop-shadow(-1px -1px 0 #9966ff);
}

.dark\:outline-image:is(.dark *) {
  -webkit-filter: drop-shadow(1px 1px 0 #bb99ff) drop-shadow(-1px 1px 0 #bb99ff)
    drop-shadow(1px -1px 0 #bb99ff) drop-shadow(-1px -1px 0 #bb99ff);

  filter: drop-shadow(1px 1px 0 #bb99ff) drop-shadow(-1px 1px 0 #bb99ff)
    drop-shadow(1px -1px 0 #bb99ff) drop-shadow(-1px -1px 0 #bb99ff);
}
