body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.number-box {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(224, 28, 28);
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  font-size: medium;
  -webkit-transition: .2s;
  transition: .2s;
}

input:focus {
  box-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff;
  outline: none;
}

.color {
  width: 24px;
  height: 24px;
  /* Create a circle with a clip path to allow transition from full to hollow */
  clip-path: path(
    "M 12 0 A 12 12 0 0 1 12 24 A 12 12 0 0 1 12 0 M 12 12 A 0 0 0 0 0 12 12 A 0 0 0 0 0 12 12"
  );
  transition: all 100ms ease 0s;
}

/* Hollow out the circle when selected */
.selected .color {
  clip-path: path(
    "M 12 0 A 12 12 1 1 1 12 24 A 12 12 1 1 1 12 0 M 12 3 A 9 9 0 0 0 12 21 A 9 9 0 0 0 12 3"
  );
}

.color-button:hover .color {
  transform: scale(1.2);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(5%, -5%);
  background-color: darkgrey;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #000000;

}

input:focus + .slider {
  box-shadow: 0 0 10px #ffffff, 0 0 5px #ffffff;

}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* hide number input arrows */
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}